@import "@styles/mixins.scss";

.block {
  @media only screen and (max-width: 501px){
    flex-direction: column;
  }
}

.nds {
  @media only screen and (max-width: 501px){
    flex-direction: column;
    align-items: flex-start;

    & > * {
      width: 100%;
    }
  }
}
