@import "@box/app/styles/mixins.scss";

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba(43, 46, 46, 0.4);

    @include adaptive("xxsm") {
        padding: 0;
    }
}