@import "@styles/mixins.scss";

.body {
  position: relative;
  cursor: pointer;
}

.inputField {
  position: relative;
  z-index: 2;
}

.wide_select {
  position: absolute;
  background: white;
  border-radius:  10px;
  top:10px;
  overflow-y: auto;
  z-index: 100;

  @include adaptive("sm"){
    width: 100%;
    column-count: 2 !important;
    column-gap: 0;
  }

  @include adaptive("xsm"){
    column-count: 1 !important;
  }

}

.wide_select {
  max-width: 1100px;
}

.value {
  cursor: pointer;
  padding: 15px;

  &:hover {
    @apply bg-secondaryGreen-light;
  }

  &_selected {
    @apply bg-primaryGreen-main text-white;

    &:hover {
      @apply bg-primaryGreen-main text-white;

    }
  }

  &_disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.select_wrapper {
  position: relative;
}

@include adaptive("xsm"){
  .closeButton {
    display: block;
    z-index: 10000;
    width: 100%;
    bottom: 0px;
    left: 0;
    position: absolute; 
    padding: 15px 30px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    @apply border-t-grey-20;
    cursor: pointer;
  }

  .textButton {
    color: #399977 !important;
    margin-left: -30px !important;
  }
}

.special_wide_select {
  position: absolute;
  background: white;
  border-radius:  10px;
  top:10px;
  overflow-y: auto;
  z-index: 100;

  @include adaptive("sm"){
    width: 100%;
    column-count: 2 !important;
    column-gap: 0;
  }

  @include adaptive("xsm"){
    column-count: 1 !important;
    overflow: hidden;
    margin: 0 20px;
    padding-left: 20px;
    padding-right: 10px;
    width: 90vw;
    max-width: 90vw;
    max-height: 500px;
  }

}

.special_wide_select_inner {
  @include adaptive("xsm"){
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll !important;
    column-count: 1 !important;
    column-gap: 10px;
    max-height: 400px;
  }
}