@import "@styles/mixins.scss";

.field {
  @include adaptive("sm"){
    width: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }

  @include adaptive("xxsm"){
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
}

.field_city {
  @include adaptive("sm"){
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
}

.filter {
  @include adaptive("sm"){
   flex-wrap: wrap;
    gap: 0;
    margin-left: -20px;
  }
}
