.container {
  @media only screen and (max-width: 961px) {
    flex-direction: column;
  }
}

.top {
  @media only screen and (max-width: 961px) {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    > div {
      width: 100%;
    }
  }
}

.bottom {
  @media only screen and (max-width: 961px) {
    width: 100%;
  }
  @media only screen and (max-width: 430px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    > div {
      width: 100%;
    }
  }
}

.separator {
  @media only screen and (max-width: 430px) {
    display: none;
  }
}
