@import "@styles/mixins.scss";

.block {
  @include adaptive("xsm"){
    flex-direction: column;
  }
}

.nds {
  @include adaptive("xxsm"){
    flex-direction: column;
    align-items: flex-start;

    & > * {
      width: 100%;
    }
  }
}


