@import "@styles/mixins.scss";

.info {
  @include adaptive("sm") {
    flex-direction: column;
    align-items: end;
  }
  @include adaptive("xsm") {
    margin-bottom: 24px;
  }
}

.price {
  @include adaptive("sm") {
    flex-direction: column;
    align-items: end;
  }
}
