@import "@styles/mixins.scss";

.adaptive {
  @include adaptive("xxsm"){
    flex-direction:column ;
    gap: 10px;
    width: 100%;

  }
}

.filters {
  @include adaptive("xxsm"){
    width: 100%;
  }
}

.rotate{
  @include adaptive("xxsm"){
    transform: rotate(90deg);
  }
}
