.container {
  margin-right: -6px;

  &::-webkit-scrollbar-thumb  {
      background-color: transparent;
      border: 3px solid rgba(0, 0, 0, 0.1);
      border-radius: 100px;
    }
  &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 100px;
    }
  &::-webkit-scrollbar-track-piece  {
      background-color: transparent;
      border-radius: 100px;
    }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 100px;
  }
}
