@import "@styles/mixins.scss";

.adaptive {
  @include adaptive("xsm"){
    flex-direction:column ;
    align-items: flex-start;
    gap: 10px;

  }
}
.tab {
  @include adaptive("xsm"){
    width: 100%;
  }

  @include adaptive("xxsm"){
    flex-direction: column;
  }
      
}