@import "@styles/mixins.scss";

.search {
  @include adaptive("xsm"){
    max-width: unset;
  }
}

.head {
  @include adaptive("xsm"){
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    gap: 10px
  }
}
