@import "@styles/mixins.scss";

.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  @include adaptive("sm") {
    flex-direction: column;
    gap: 8px;
  }
}

.pair {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  @include adaptive("sm") {
    gap: 8px;
  }
  @include adaptive("xsm") {
    flex-direction: column;
  }
}

.row {
  display: flex;
  gap: 16px;
  width: 100%;
  @include adaptive("sm") {
    gap: 8px;
  }
}
